*,
::after,
::before {
    box-sizing: border-box
}

body {
    margin: 0;
}

.link a div {
    border-radius: 50px;
    background-color: #007BFF;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    padding: 10px 0;
}

.link a div:hover {
    background-color: #0867cc;
    font-size: 16.2px;
}

.container {
    max-width: 1320px
}

.container {
    position: relative;
}

.container {
    margin-right: auto;
    margin-left: auto
}

.elements {
    display: flex;
    justify-content: space-between;
}

.elements>* {

    padding-right: 12px;
    padding-left: 12px;
    padding-top: 20px;
}

.statistika {
    position: relative;
    display: block;
    padding: 60px 0;
}

.statistika::before {
    margin-top: -60px;
    position: absolute;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(15, 34, 82, 0.7);
}

.statistika .title {
    font-weight: 700;
    font-size: 44px;
    line-height: 54px;
    color: #fff;
    text-align: center;
    margin-bottom: 80px;
}

.statistika .item {
    text-align: center;
    background-color: #fff;
    border-radius: 18px;
    padding: 20px;
    display: flex;
    flex-flow: column;
    height: 150px;
}

.statistika .item p,
.statistika .item h6 {
    font-weight: 700;
    font-size: 24px;
}

.usefullinks {
    padding: 60px 0px;
}

.usefullinks::before {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    opacity: 0.8;
    background-color: #fff;
}

.usefullinks .card {
    background-color: #fff;
    border-radius: 16px;
    padding: 10px;
    filter: drop-shadow(0px 10px 20px rgba(67, 85, 182, 0.22));
    height: 100%;
    font-family: 'PT Serif', serif;
}

.usefullinks .card>a {
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: black;
}

.usefullinks .card-image {
    width: 100%;
    margin-bottom: 10px;
}

.usefullinks .title {
    font-weight: 700;
    font-size: 44px;
    line-height: 54px;
    text-align: center;
    margin-bottom: 50px;
    position: relative;
}

.cards-width {
    flex: 0 0 auto;
    width: 20%
}

.post {
    flex: 0 0 auto;
    width: 25%
}

.header {
    position: sticky;
    z-index: 99999;
}

.header {
    background-color: #fff;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
}

.logo {
    display: flex;
    align-items: center;
    background-color: #007BFF;
    border-radius: 18px;
    padding: 8px 15px;
    width: 320px;
    gap: 15px;
    margin: -10px 0px 10px 0px;
}

.header .logo img {
    width: 68px;
}

.header .logo p {
    font-family: sans-serif;
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    margin: 0;
}


.header .ul-list li a {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    color: black;
    background: #ffffff;
}

.header .ul-list ul {
    position: absolute;
    list-style-type: none;
    padding: 0;
    z-index: 999;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
    background: #ffffff;
    opacity: 0;
    pointer-events: none;
    transition: 0.2s ease-in;
}

.submenu-2 a {
    padding: 5px 15px;
    font-weight: 500;
    font-size: 14px;
    display: flex;
}

.ul-list .submenu:hover>ul {
    opacity: 1;
    pointer-events: all;
    transform: translate(0);
    transition: 0.3s ease-out;
}

#list-center {
    align-items: center;
}

.submenu {
    display: inline-block;
    position: relative;
    margin-left: 55px;
    margin-right: 20px;
}

a {
    text-decoration: none;
}

.elonlar {
    padding: 20px 0;
}

.news-card {
    box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
}

.news-card .elon-img a img {
    width: 100%;
}

.news-card .elon-content {
    padding: 15px 20px;
}

.elonlar .news-card .elon-content h3 {
    font-size: 16px;
    list-style: 20px;
    height: 100px;
    color: black;
}

.elon-date {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    font-style: normal;
    justify-content: space-between;
    margin: 20px 0;
}

.news-card .elon-content h3 {
    font-weight: 300;
    font-size: 24px;
}

.news-card {
    margin-bottom: 20px;
}

.news-card .elon-img {
    overflow: hidden;
    border-radius: 8px;
}

footer {
    color: #fff;
    position: relative;
    padding: 60px 0;
}

footer::before {
    position: absolute;
    content: " ";
    width: 100%;
    height: 100%;
    top: 0;
    background: rgba(0, 51, 141, 0.8);
}

footer .footer-logo img {
    width: 132px;
    height: 132px;
    margin-bottom: 18px;
}

footer .footer-logo p {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
}

.footer-links {
    list-style-type: none;
    padding: 0;
}

.footer-links li {
    margin-bottom: 15px;
}

.footer-links li a {
    color: #fff;
    display: flex;
    align-items: center;
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
}

.footer-links li a:hover {
    color: #7FB8FD;
}

/*  */

.container h1 {
    text-align: center;
    margin-top: 27px;
    margin-bottom: 17px;
    color: #29293A;
    font-size: 35px;
}

.content {
    max-width: 700px
}

.content {
    position: relative;
}

.content {
    margin-right: auto;
    margin-left: auto
}

.content img {
    width: 100%;
    border-radius: 18px;
    margin-top: 5px;
}

.content h3 {
    text-align: center;
    font-size: 25px;
}

.content h4 {
    text-align: center;
    font-size: 25px;
    color: #29293A;
    font-weight: 300;
}

.content h2 {
    font-family: sans-serif;
    margin-left: 35px;
}

.content p {
    font-family: 'Montserrat', sans-serif;
    margin: 0px 0px 16px;
    font-size: 18px;
    ;
    line-height: 21px;
    line-height: 1.5;
}

table {
    border-collapse: collapse;
    border-radius: 1px;
    margin-top: 25px;
    margin-bottom: 20px;
}

td {
    border: 1px solid #dee2e6;
    padding: 8px;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    padding: 20px;
}

table a {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: #007BFF;
}

.content li {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 20px;
}

.container .nomi {
    text-align: center;
}