.app-store-wrapper {
    background: #f5f5f7;
}

.app-store-wrapper .apps-marquee {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.app-store-wrapper .apps-marquee .list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    flex-shrink: 0
}

.app-store-wrapper .item {
    flex-shrink: 0;
    position: relative;
    width: 390px;
    height: 478px;
    margin: 5px 12px 25px
}

@media only screen and (max-width: 1068px) {
    .app-store-wrapper .item {
        width: 293px;
        height: 359px;
        margin: 5px 10px 20px
    }
}

@media only screen and (max-width: 734px) {
    .app-store-wrapper .item {
        width: 195px;
        height: 240px;
        margin: 5px 6px 12px
    }
}

.app-store-wrapper .item-link {
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    position: relative;
    height: 100%
}

.app-store-wrapper .item-link:hover {
    text-decoration: none
}

.app-store-wrapper .item-label {
    position: absolute;
    color: #fff;
    font-size: 17px;
    line-height: 1.17648;
    font-weight: 600;
    letter-spacing: -.01em;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    padding: 18px 24px
}

@media only screen and (max-width: 1068px) {
    .app-store-wrapper .item-label {
        font-size: 12px;
        line-height: 1.5;
        font-weight: 600;
        letter-spacing: -.01em;
        font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif
    }
}

@media only screen and (max-width: 734px) {
    .app-store-wrapper .item-label {
        font-size: 10px;
        line-height: 1.2;
        font-weight: 600;
        letter-spacing: -.01em;
        font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif
    }
}

@media only screen and (max-width: 1068px) {
    .app-store-wrapper .item-label {
        padding: 14px 18px
    }
}

@media only screen and (max-width: 734px) {
    .app-store-wrapper .item-label {
        padding: 10px 14px
    }
}

.app-store-wrapper .item-img {
    height: 100%;
    width: 100%;
    display: inline-flex;
    object-fit: cover;
    object-position: left center;
    height: 100%;
    width: 100%
}

.app-store-wrapper .item-picture {
    display: block;
    height: 100%;
    width: 100%
}

.app-store-wrapper .item-icon {
    overflow: hidden;
    min-width: 53px;
    min-height: 53px;
    width: 53px;
    height: 53px;
    margin-right: 15px;
    border-radius: 10px
}

@media only screen and (max-width: 1068px) {
    .app-store-wrapper .item-icon {
        min-width: 40px;
        min-height: 40px;
        width: 40px;
        height: 40px;
        margin-right: 10px
    }
}

@media only screen and (max-width: 734px) {
    .app-store-wrapper .item-icon {
        min-width: 30px;
        min-height: 30px;
        width: 30px;
        height: 30px;
        margin-right: 7px;
        border-radius: 7px
    }
}

.app-store-wrapper .item-icon img {
    width: 100%;
    height: 100%
}

.app-store-wrapper .item-content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    min-height: 70px;
    padding: 14px 20px
}

@media only screen and (max-width: 1068px) {
    .app-store-wrapper .item-content {
        min-height: 55px;
        padding: 10px 15px
    }
}

@media only screen and (max-width: 734px) {
    .app-store-wrapper .item-content {
        min-height: 40px;
        padding: 10px 10px
    }
}

.app-store-wrapper .item-copy {
    overflow: hidden;
    flex-grow: 2;
    color: #86868b;
    margin-right: 15px
}

@media only screen and (max-width: 1068px) {
    .app-store-wrapper .item-copy {
        margin-right: 10px
    }
}

.app-store-wrapper .item-title {
    font-size: 16px;
    line-height: 1.1875;
    font-weight: 500;
    letter-spacing: 0em;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    white-space: normal
}

@media only screen and (max-width: 1068px) {
    .app-store-wrapper .item-title {
        font-size: 12px;
        line-height: 1.16667;
        font-weight: 500;
        letter-spacing: 0em;
        font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif
    }
}

@media only screen and (max-width: 734px) {
    .app-store-wrapper .item-title {
        font-size: 10px;
        line-height: 1.2;
        font-weight: 500;
        letter-spacing: 0em;
        font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif
    }
}

.app-store-wrapper .item-description {
    font-size: 15px;
    line-height: 1.33338;
    font-weight: 400;
    letter-spacing: 0em;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    color: #86868b;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: 3px
}

@media only screen and (max-width: 1068px) {
    .app-store-wrapper .item-description {
        font-size: 12px;
        line-height: 1;
        font-weight: 400;
        letter-spacing: 0em;
        font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif
    }
}

@media only screen and (max-width: 734px) {
    .app-store-wrapper .item-description {
        font-size: 10px;
        line-height: 1;
        font-weight: 400;
        letter-spacing: 0em;
        font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif
    }
}

.app-store-wrapper .item-btn-wrapper {
    text-align: center
}

.app-store-wrapper .item-btn {
    font-size: 14px;
    line-height: 1.14286;
    font-weight: 700;
    letter-spacing: 0em;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    border-radius: 18px;
    padding: 6px 14px;
    text-transform: uppercase;
    background-color: #f5f5f7;
    color: #0071e3
}

@media only screen and (max-width: 1068px) {
    .app-store-wrapper .item-btn {
        font-size: 12px;
        line-height: 1.16667;
        font-weight: 700;
        letter-spacing: 0em;
        font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif
    }
}

@media only screen and (max-width: 734px) {
    .app-store-wrapper .item-btn {
        font-size: 10px;
        line-height: 1.2;
        font-weight: 700;
        letter-spacing: 0em;
        font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif
    }
}

@media only screen and (max-width: 1068px) {
    .app-store-wrapper .item-btn {
        padding: 6px 12px
    }
}

.app-store-wrapper .item-btn:hover {
    background-color: #e8e8ed
}

.app-store-wrapper .item-btn:hover .icon-copy {
    text-decoration: none
}

.app-store-wrapper .item-btn:active {
    background-color: #e8e8ed
}

.app-store-wrapper .item-iap {
    font-size: 9px;
    line-height: 1;
    font-weight: 400;
    letter-spacing: 0em;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    margin-top: 9px;
    display: block;
    color: #86868b;
    white-space: nowrap
}

@media only screen and (max-width: 1068px) {
    .app-store-wrapper .item-iap {
        font-size: 8px;
        line-height: 1;
        font-weight: 400;
        letter-spacing: 0em;
        font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif
    }
}

@media only screen and (max-width: 734px) {
    .app-store-wrapper .item-iap {
        margin-top: 7px
    }
}

.app-store-wrapper .item.today .item-img:before {
    display: none
}

.app-store-wrapper .item.today .item-label {
    white-space: pre-wrap;
    font-size: 48px;
    line-height: .875;
    font-weight: 800;
    letter-spacing: 0em;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    bottom: 98px
}

@media only screen and (max-width: 1068px) {
    .app-store-wrapper .item.today .item-label {
        font-size: 36px;
        line-height: .83345;
        font-weight: 800;
        letter-spacing: 0em;
        font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif
    }
}

@media only screen and (max-width: 734px) {
    .app-store-wrapper .item.today .item-label {
        font-size: 26px;
        line-height: .84625;
        font-weight: 800;
        letter-spacing: 0em;
        font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif
    }
}

@media only screen and (max-width: 1068px) {
    .app-store-wrapper .item.today .item-label {
        bottom: 75px
    }
}

@media only screen and (max-width: 734px) {
    .app-store-wrapper .item.today .item-label {
        bottom: 60px
    }
}

html.text-zoom .app-store-wrapper .item {
    width: 500px;
    height: 600px
}

html.text-zoom .app-store-wrapper .item-content {
    min-height: unset
}

html.text-zoom .app-store-wrapper .item-label {
    top: 0
}

.app-store-wrapper .has-fade {
    opacity: 0;
    transition: transform 0.6s, opacity 0.6s
}

.app-store-wrapper .has-fade.ready {
    opacity: 1
}

.app-store-wrapper .has-fade.fade-in {
    opacity: 0.999;
    transform: translateY(0)
}

.app-store-wrapper .has-fade.simple {
    transform: translateY(0);
    transition: opacity 0.6s
}

html.prefers-reduced-motion .app-store-wrapper .has-fade {
    opacity: 0.999;
    transform: translateY(0)
}

.app-store-wrapper [data-kind="Collection"] .item-icon {
    display: none
}

.app-store-wrapper .controls-wrapper {
    position: relative
}

.app-store-wrapper .controls-wrapper .controls {
    position: absolute;
    top: 25px;
    right: 30px
}

html.reduced-motion .app-store-wrapper .controls-wrapper .controls {
    display: none
}

.app-store-wrapper .controls-wrapper .play-pause.button {
    position: relative;
    display: block;
    pointer-events: auto
}

.item-title {
    font-weight: 600;
    color: #1d1d1f
}

a:link,
a:visited,
.link:link,
.link:visited {
    text-decoration: none
}

a:hover,
.link:hover {
    text-decoration: underline
}

a:active,
.link:active {
    text-decoration: none
}

a:disabled,
.link:disabled {
    opacity: .32
}

.app-store-wrapper {
    overflow: hidden;
}

.apps-marquee {
    width: 100%;
    overflow: hidden;
}

.list {
    display: flex;
    list-style: none;
    padding: 0;
    transition: transform 1s ease-out;
}

.item {
    margin-right: 20px;
}

.item-link {
    display: block;
    text-decoration: none;
    color: inherit;
}

.item-img {
    width: 100%;
    height: auto;
}